* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cor-de-fundo: #00030C;
    --cor-do-botao: #167BF7;
    --cinza-secundario: #C0C0C0;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--cor-do-botao);
    display: block;
    padding: 1em;
    border-radius: 8px;
    text-decoration: none;
    color: var(--branco-principal);
    margin: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
    color: var(--branco-principal);
}

.container__aviso {
    font-weight: 400;
    font-size: 12px;
    color: var(--cinza-secundario);
}
.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin:  0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.2rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.terceiro {
    margin: 0 7.5rem;
    align-items: center;
}

.container__descricao__terceiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__descricao__texto {
    color: var(--cinza-secundario);
}

.botao_terceiro {
    margin: 1rem 31rem 0 0;
    text-decoration: none;
    background-color: var(--cor-do-botao);
    padding: 16px 16px;
    border-radius: 8px;
    text-align: center;
    color: var(--branco-principal);
}

.container__imagem__terceira {
    width: 80%;
    align-items: center;
    text-align: center;
    margin: 0 10.3rem 0 4.3rem;
}

.container__descricao__titulo {
    font-size: 48px;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 2.5rem 0 1.5rem 0;
}

.lista__link {
    list-style-type: none;
}

.lista__link__ancora {
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link__ancora:hover {
    color: var(--cinza-secundario);
}

.lista__link__ancora:active {
    color: purple;
}

.rodape__descricao {
    margin-bottom: 4rem;
}

.rodape__descricao__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {

    .container {
        background-image: none;
        display: block;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .container__descricao__terceiro {
        text-align: center;
        width: 50vw;
    }


    .botao_terceiro {
        margin: 1em 2em 1em 2em;
        width: 25vw;
        font-size: 16px;
        text-align: center;
    }

    .container__imagem__terceira {
        width: 50vw;
        margin: 0;
        padding: 0;
    }

    .dispositivos__lista {
        display: flex;
        flex-direction: column;
    }

    .rodape__lista {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}